# Ignore node_modules in any folder
node_modules/
**/node_modules/

# Ignore environment variables (Protect your Resend/Google keys!)
.env
.env.local
**/.env

# Ignore build files
dist/
.next/
build/

# OS specific files
.DS_Store